body {
    font-family: Arial, sans-serif;
    background-image: url("cheers-204742_1280.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(216, 201, 201, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #333;
    text-align: center;
}

#searchContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
}

ul li {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    opacity: 0.8;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#addAudios {
    background-color: #28a745;
    color: white;
}

#addAudios:hover {
    background-color: #218838;
}

#spinner {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
}

.hidden {
    display: none;
}

#favList {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    margin-top: 20px;
}